In [1]:
!pip install google_trans_new
!pip install git+https://github.com/BoseCorp/py-googletrans.git --upgrade

Requirement already satisfied: google_trans_new in /usr/local/lib/python3.7/dist-packages (1.1.9)
Collecting git+https://github.com/BoseCorp/py-googletrans.git
  Cloning https://github.com/BoseCorp/py-googletrans.git to /tmp/pip-req-build-4sxju7wo
  Running command git clone -q https://github.com/BoseCorp/py-googletrans.git /tmp/pip-req-build-4sxju7wo
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.7/dist-packages (from googletrans==2.3.0) (2.23.0)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->googletrans==2.3.0) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->googletrans==2.3.0) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->googletrans==2.3.0) (2020.12.5)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->googletrans==2.3.0) (3.0.4)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-2.3.0-cp37-none-any.whl size=16449 sha256=abeef47237509d1ce8b73dc0a353d63fced9f6810efe5f9cf94aff70736300ea
  Stored in directory: /tmp/pip-ephem-wheel-cache-ttz9d0q0/wheels/6a/fc/9e/2d31d95d9e97da5166afd8225a6f3b6850dc2c6e84accefbfc
Successfully built googletrans
Installing collected packages: googletrans
  Found existing installation: googletrans 2.3.0
    Uninstalling googletrans-2.3.0:
      Successfully uninstalled googletrans-2.3.0
Successfully installed googletrans-2.3.0

In [3]:
# Importing the necessary libraries
import pandas as pd
import google_trans_new
from google_trans_new import google_translator

In [4]:
# Reading and storing the CSV file as a dataframe
df = pd.read_csv('/content/Vegetables_names_in_hindi.csv')
df.head(10)

  Vegetable Names
0           गाजर
1     शिमला मिर्च
2         भिन्डी
3          मक्का
4       लाल मिर्च
5           खीरा
6       कढ़ी पत्ता
7           बैगन
8          लहसुन
9           अदरक

In [6]:
translator = google_translator()
translations = {}
for column in df.columns:
    # Unique elements of the column
    unique_elements = df[column].unique()
    for element in unique_elements:
        # Adding all the translations to a dictionary (translations)
        translations[element] = translator.translate(element)
translations

{'अदरक ': 'ginger ',
 'कढ़ी पत्ता': 'Kadhi leaf ',
 'खीरा ': 'Cucumber ',
 'गाजर ': 'Carrots ',
 'बैगन ': 'Bagan ',
 'भिन्डी ': 'Lady finger ',
 'मक्का ': 'Corn ',
 'लहसुन ': 'Garlic ',
 'लाल मिर्च': 'Red chilli ',
 'शिमला मिर्च': 'capsicum '}

In [7]:
# Replacing all the translated words from Hindi to English
df.replace(translations, inplace = True)
df.head(10)

  Vegetable Names
0        Carrots
1       capsicum
2    Lady finger
3           Corn
4     Red chilli
5       Cucumber
6     Kadhi leaf
7          Bagan
8         Garlic
9         ginger